* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Google Sans","Arial",sans-serif,"微軟正黑體";
}

img{
    width: 100%;
}

.content{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#up{
    background-color: black;
    width: 100%;
    height: 50%;
    transition: 0.5s;
}

.imgs{
    position: absolute;
    top: 20%;
    left: 45%;
}

.down{
    width: 100%;
    height: 50%;
    position: relative;
}

.options{
    position: absolute;
    width: 45px;
    top: 10px;
    right: 25%;
}

.option{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgb(136, 136, 136);
    margin: 15px auto ;
    cursor: pointer;
}

/* .option:active{
    transition: 0.2s;
    border: 1px solid rgb(255, 0, 0);
} */

.black{
    background-color: black;
}

.white{
    background-color: rgb(252 249 243);
}

.red{
    background-color: rgb(179 4 40);
}

.yellow{
    background-color: rgb(253 227 126);
}

#text{
    font-size: 80px;
    font-weight: bolder;
    position: absolute;
    bottom: 15%;
    left: 49%;
}

@media (max-width: 1200px) {
    .imgs {
        top: 26%;
        left: 32%;
    }

    .options {
        top: 15px;
        right: 26%;
    }

    #text {
        bottom: 36%;
        left: 41%;
    }

}

@media (max-width: 768px) {
    .imgs {
        left: 31%;
    }

    .options {
        top: 17px;
        right: 17%;
    }

    #text {
        bottom: 20%;
        left: 42%;
    }
}

@media (max-width: 576px) {
    #up {
        width: 100vh;
    }
    img{
        width: 100%;
    }

    .imgs {
        width: 50%;
        left: 23%;
    }

    .options {
        top: 0px;
        right: 7%;
    }

    #text {
        bottom: 36%;
        left: 36%;
        font-size: 60px;
    }
}

@media (max-width: 414px) {
    #text {
        bottom: 15%;
    }
}
